<section class="vh-30">
  <div class="container py-1">
    <div class="row d-flex justify-content-center">
      <div class="col-md-8 col-lg-6 col-sm-12 col-xl-6">
        <div class="card bg-dark text-white border-white" border-radius:"35px;">
          <div class="card-body p-4">
            <div class="d-flex">
              <h6 class="flex-grow-1">Warsaw</h6>
              <h6> {{ weatherInfo.Time|date("d.m.Y H:m") }} </h6>
            </div>
            <div class="d-flex">
              <div class="text-center">
                <img src="https://developer.accuweather.com/sites/default/files/{{ weatherInfo.Icon }}-s.png" width="100px">
              </div>
              <div class="flex-grow-1 text-center">
                <h3 class="display-4 mb-0 font-weight-bold text-center"> {{ weatherInfo.temp }} &#8451;</h3>
                <span class="small"> {{ weatherInfo.WeatherText }} </span>
              </div>
              <div class="justify-content-start" style="font-size: small;">
                <div><i class="bi bi-wind"></i> <span class="ms-1"> {{ weatherInfo.Wind }} km/h</span></div>
                <div><i class="bi bi-moisture"></i> <span class="ms-1"> {{ weatherInfo.Humidity }} % </span></div>
                <div><i class="bi bi-arrows-collapse"></i> <span class="ms-1"> {{ weatherInfo.Pressure }} hPa </span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
