{% extends 'base.html.twig' %}
{% block title %}Whisky Shop{% endblock %}
{% block body %}
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-sm-1 row-cols-md-3 row-cols-xl-4 justify-content-center">
                {% for pr in paginator.results %}
                <div class="col mb-5">
                    <div class="card border border-dark border-1" style="width: 100%;height: auto;object-fit: contain;">
                        {% if pr.getImg %}
                        <img class="card-img-top mx-auto d-block" src="https://cdn.swozniak.pl/img/{{ pr.getImg() }}" 
                            alt="IMAGE NOT FOUND" style="width: auto;height: 400px;object-fit: contain;"/>
                        {% else %}
                        <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTol61n1Nun3bdo2sBU7Efo6LBEp0TRYMay5A&usqp=CAU" 
                            alt="" />
                        {% endif %}
                        <div class="card-body p-4">
                            <div class="text-center">
                                <h3 class="fw-bolder"> {{ pr.getBrand().getName() }} </h3>
                                <h5 class="fw-bolder"> {{ pr.getName() }} </h5>
                                <h6 class="fw-normal"> Stock: {{ pr.getStock() }} </h6>
                                <h4> {{ pr.getPrice()|format_currency('PLN', locale='pl') }} </h4>
                            </div>
                        </div>
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href=" {{ path('cart_add',{'prodId': pr.getId()}) }} ">Add to cart</a></div>
                        </div>
                        {% else %}
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{{ path('signUp') }}">Register to shop</a></div>
                        </div>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    {% include "pagination/paginator.html.twig" %}
{% endblock %}
