<ul class="pagination pagination-md justify-content-center">
    {% if paginator.hasPreviousPage %}
        <li class="page-item">
            <a class="page-link text-black ms-1"
               href="{{ path(app.request.get('_route'), {page: paginator.previousPage}) }}"
               rel="previous">
                <i class="fa fw fa-long-arrow-left"></i> previous
            </a>
        </li>
    {% else %}
        <li class="page-item disabled">
            <span class="page-link"><i class="fa fw fa-arrow-left"></i> previous</span>
        </li>
    {% endif %}

    {% for i in 1..paginator.lastPage %}
        {% if i == paginator.currentPage %}
            <li class="page-item active">
                <span class="page-link bg-dark text-white ms-1 border-dark">{{ i }} <span class="sr-only">current</span></span>
            </li>
        {% else %}
            <li class="page-item"><a class="page-link text-black ms-1"
                                     href="{{ path(app.request.get('_route'), {page: i}) }}">{{ i }}</a>
            </li>
        {% endif %}
    {% endfor %}

    {% if paginator.hasNextPage %}
        <li class="page-item">
            <a class="page-link text-black ms-1"
               href="{{ path(app.request.get('_route'), {page: paginator.nextPage}) }}">
                <span>next <i class="fa fw fa-long-arrow-right"></i></span>
            </a>
        </li>
    {% else %}
        <li class="page-item disabled">
            <span class="page-link">next <i class="fa fw fa-long-arrow-right"></i></span>
        </li>
    {% endif %}
</ul>