<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>{% block title %}Whisky Shop{% endblock %}</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
        {% block stylesheets %}
            <!-- Bootstrap icons-->
            <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
            <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
            <!-- Core theme CSS (includes Bootstrap)--> 
            <link 
                href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
                integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
                crossorigin="anonymous"
            >
            <link href="{{ asset('css/styles.css') }}" rel="stylesheet" />        
        {% endblock %}

        {% block javascripts %}
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
                crossorigin="anonymous">
            </script>
            <script
                type="text/javascript"
                src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.0.0/mdb.umd.min.js">
            </script>
            <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
            <script src="{{ asset('js/main.js') }}"></script>
        {% endblock %}
    </head>
    <header class="bg-dark py-1">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Whisky Shop</h1>
                <p class="lead fw-normal text-white-50 mb-0">Get drunk - be happy</p>
            </div>
        </div>
    </header>
    <div class="container-fluid pt-5">
        <div class="row px-xl-5 text-center mb-5">
            <h2>Your order has been successfully placed.</h2>
            <h2>Thank you for shopping!</h2>
        </div>
        <div class="row px-xl-5">
            <div class="col-lg-8 table-responsive mb-5">
                <table class="table table-bordered text-center mb-2">
                    <thead class="table-dark">
                        <tr>
                            <th colspan="2">Products</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    {% for item in orderItem %}
                    <tbody class="align-middle bg-white text-black">
                        <tr>
                            <td class="align-justify-content-between"><img src="https://cdn.swozniak.pl/img/{{ item.getProduct().getImg() }}" 
                                alt="" style="width: 50px; height: 100px; object-fit: contain;"></td>
                            <td>{{ item.getProduct().getBrand().getName() }} {{ item.getProduct().getName() }} </td>
                            <td class="align-middle">{{ item.getProduct().getPrice()|format_currency('PLN', locale='pl') }}</td>
                            <td class="align-middle">{{ item.getQuantity() }}</td>
                            <td class="align-middle">{{ item.getTotalPrice()|format_currency('PLN', locale='pl') }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-lg-4">
                <div class="card border-secondary mb-5">
                    <div class="card-header bg-dark border-0">
                        <h4 class="font-weight-semi-bold m-0 text-white">Order Summary</h4>
                    </div>
                    <div class="card-body">
                        <div class="d-flex justify-content-between mb-3 pt-1">
                            <h6 class="font-weight-medium">Netto amount</h6>
                            <h6 class="font-weight-medium">{{ netAmount|format_currency('PLN', locale='pl') }}</h6>
                        </div>
                        <div class="d-flex justify-content-between mb-3 pt-1">
                            <h6 class="font-weight-medium">VAT amount</h6>
                            <h6 class="font-weight-medium">{{ vatAmount|format_currency('PLN', locale='pl') }}</h6>
                        </div>
                        <div class="d-flex justify-content-between">
                            <h6 class="font-weight-medium">Shipping</h6>
                            <h6 class="font-weight-medium">{{ shippingPrice|format_currency('PLN', locale='pl') }}</h6>
                        </div>
                    </div>
                    <div class="card-footer border-secondary bg-transparent">
                        <div class="d-flex justify-content-between mt-2">
                            <h5 class="font-weight-bold">Total</h5>
                            <h5 class="font-weight-bold">{{ totalPrice|format_currency('PLN', locale='pl') }}</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</html>