{% extends 'base.html.twig' %}
{% block title %}Order Summary{% endblock %}
{% block body %}
    <div class="container-fluid pt-5">
        <div class="row px-xl-5 text-center mb-5">
            <h2>Your order has been successfully placed.</h2>
            <h2>Thank you for shopping!</h2>
        </div>
        <div class="row px-xl-5">
            <div class="col-lg-8 table-responsive mb-5">
                <table class="table table-bordered text-center mb-2">
                    <thead class="table-dark">
                        <tr>
                            <th colspan="2">Products</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    {% for item in orderItem %}
                    <tbody class="align-middle bg-white text-black">
                        <tr>
                            <td class="align-justify-content-between"><img src="https://cdn.swozniak.pl/img/{{ item.getProduct().getImg() }}" 
                                alt="" style="width: 50px; height: 100px; object-fit: contain;"></td>
                            <td>{{ item.getProduct().getBrand().getName() }} {{ item.getProduct().getName() }} </td>
                            <td class="align-middle">{{ item.getProduct().getPrice()|format_currency('PLN', locale='pl') }}</td>
                            <td class="align-middle">{{ item.getQuantity() }}</td>
                            <td class="align-middle">{{ item.getTotalPrice()|format_currency('PLN', locale='pl') }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-lg-4">
                <div class="card border-secondary mb-5">
                    <div class="card-header bg-dark border-0">
                        <h4 class="font-weight-semi-bold m-0 text-white">Order Summary</h4>
                    </div>
                    <div class="card-body">
                        <div class="d-flex justify-content-between mb-3 pt-1">
                            <h6 class="font-weight-medium">Netto amount</h6>
                            <h6 class="font-weight-medium">{{ netAmount|format_currency('PLN', locale='pl') }}</h6>
                        </div>
                        <div class="d-flex justify-content-between mb-3 pt-1">
                            <h6 class="font-weight-medium">VAT amount</h6>
                            <h6 class="font-weight-medium">{{ vatAmount|format_currency('PLN', locale='pl') }}</h6>
                        </div>
                        <div class="d-flex justify-content-between">
                            <h6 class="font-weight-medium">Shipping</h6>
                            <h6 class="font-weight-medium">{{ shippingPrice|format_currency('PLN', locale='pl') }}</h6>
                        </div>
                    </div>
                    <div class="card-footer border-secondary bg-transparent">
                        <div class="d-flex justify-content-between mt-2">
                            <h5 class="font-weight-bold">Total</h5>
                            <h5 class="font-weight-bold">{{ totalPrice|format_currency('PLN', locale='pl') }}</h5>
                        </div>
                        <a href = "{{ path('product') }}">
                            <button class="btn btn-outline-dark mt-auto" href=" {{ path('product') }}">Go to main page</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}