{% extends 'base.html.twig' %}
{% block title %}Edit address{% endblock %}
{% block body %}
    <div id="intro" class="bg-image shadow-2-strong">
        <div class="mask d-flex align-items-center h-100">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-5 col-md-7">
                        <div class="mt-4 mb-4 text-center">
                            <h2 class="font-weight-semi-bold mb-4">Edit shipping Address</h2>
                        </div>
                        <form class="bg-light border border-dark mb-5 mt-5 rounded-5 shadow-5-strong p-5" method="post">
                        {{ form_start(addressEdit) }}
                            <div class="form-control bg-light border border-0">
                                {{ form_label(addressEdit.firstName) }}
                                {{ form_widget(addressEdit.firstName) }}
                                <small>{{ form_help(addressEdit.firstName) }}</small>
                                <div class="form-error">
                                    {{ form_errors(addressEdit.firstName) }}
                                </div>
                            </div> 
                            </br>
                            <div class="form-control bg-light border border-0">
                                {{ form_label(addressEdit.lastName) }}
                                {{ form_widget(addressEdit.lastName) }}
                                <small>{{ form_help(addressEdit.lastName) }}</small>
                                <div class="form-error">
                                    {{ form_errors(addressEdit.lastName) }}
                                </div>
                            </div> 
                            </br>
                            <div class="form-control bg-light border border-0">
                                {{ form_label(addressEdit.line1) }}
                                {{ form_widget(addressEdit.line1) }}
                                <small>{{ form_help(addressEdit.line1) }}</small>
                                <div class="form-error">
                                    {{ form_errors(addressEdit.line1) }}
                                </div>
                            </div>
                            </br>   
                            <div class="form-control bg-light border border-0">
                                {{ form_label(addressEdit.line2) }}
                                {{ form_widget(addressEdit.line2) }}
                                <small>{{ form_help(addressEdit.line2) }}</small>
                                <div class="form-error">
                                    {{ form_errors(addressEdit.line2) }}
                                </div>
                            </div>  
                            </br>                        
                            <div class="form-control bg-light border border-0">
                                {{ form_label(addressEdit.city) }}
                                {{ form_widget(addressEdit.city) }}
                                <small>{{ form_help(addressEdit.city) }}</small>
                                <div class="form-error">
                                    {{ form_errors(addressEdit.city) }}
                                </div>
                            </div>                      
                            </br>                        
                            <div class="form-control bg-light border border-0">
                                {{ form_label(addressEdit.state) }}
                                {{ form_widget(addressEdit.state) }}
                                <small>{{ form_help(addressEdit.state) }}</small>
                                <div class="form-error">
                                    {{ form_errors(addressEdit.state) }}
                                </div>
                            </div>  
                            </br>                        
                            <div class="form-control bg-light border border-0">
                                {{ form_label(addressEdit.postalCode) }}
                                {{ form_widget(addressEdit.postalCode) }}
                                <small>{{ form_help(addressEdit.postalCode) }}</small>
                                <div class="form-error">
                                    {{ form_errors(addressEdit.postalCode) }}
                                </div>
                            </div>                           
                            </br>
                            {{ form_row(addressEdit.submit, { 'attr': { 'class' :'btn btn-outline-dark font-weight-bold my-3 py-3'} }) }}
                            {# {{ form_row(addressEdit.submit, { label: 'Add address' }) }} #}
                        {{ form_end(addressEdit, {render_rest: false}) }}
                    </form>              
                </div>
            </div>
        </div>
    </div>
    <style>
    .form-control{
        border: 3;
    }
    .form-control input{
        border: 1px solid lightgrey;
    }
    </style>
{% endblock %}