{% extends 'base.html.twig' %}
{% block title %}Address{% endblock %}
{% block body %}
    <div class="container-fluid pt-5">
        <div class="row px-xl-5">
            <div class="col-lg-12">
                <div class="mb-4">
                    <h2 class="font-weight-semi-bold mb-4 text-center">Shipping Address</h2>
                </div>
                <div class="mb-4 text-center">
                    <a href = "{{ path('address_add') }}">
                        <button class="btn btn-outline-dark mt-auto my-3 py-3" href=" {{ path('address_add') }}"> Add new address </button>
                    </a>
                </div>
                <div class="row px-sm-6">
                {% for address in addresses %}
                    <div class="col-lg-3 col-md-4 col-sm-6 justify-content-center d-flex align-items-stretch">
                        <div class="card border-secondary mb-5" style="width: 18rem;">
                            <div class="card-header bg-dark text-white border-0">
                                <h4 class="font-weight-semi-bold m-0"> {{ address.getFirstName }} {{ address.getLastName }} </h4>
                            </div>
                            <div class="card-body">
                                <p class="card-text"> {{ address.getFirstName }} {{ address.getLastName }} </p>
                                <p class="card-text"> {{ address.getLine1 }} </p>
                                <p class="card-text"> {{ address.getLine2 }} </p>
                                <p class="card-text"> {{ address.getPostalCode }} {{ address.getCity }} </p>
                                <p class="card-text"> {{ address.getState }} </p>
                            </div>
                            <div class="card-footer d-flex justify-content-around">
                                <a href="{{ path('address_edit', {"id": address.getId() }) }}" class="btn btn-outline-dark mt-auto"> Edit </a>
                                <form method="post" action="{{ path('address_delete', {'id': address.getId() }) }}" onsubmit="return confirm('Remove address?');">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ address.getId()) }}">
                                    <button class="btn btn-outline-dark mt-auto"> Delete </button>
                                </form>
                                <a href="{{ path('address_set', {"id": address.getId() }) }}" class="btn btn-outline-dark mt-auto"> Select </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>       
        </div>
    </div>
{% endblock %}